.login{
    margin-top: 3em;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.divInputs{
    padding: 20px;
    border-radius: 6px;
}
input[type=text]{
    width: 100%;
}